@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(90deg,rgba(159, 208, 227, 1) 0%, rgba(247, 246, 228, 1) 100%);
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: right;
    padding: 22px 32px;
    align-items: center;
    height: 80px;
}

a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 16px;
    transition: 0.3s;
}

a:hover {
    color: #24a0ed;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #24a0ed;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.5s;
}

button:hover {
    background-color: #0096e2;
}

.container {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    max-width: 450px;
    padding: 30px;
    border-radius: 10px;
}

.container h1 {
    font-size: 34px;
    margin-bottom: 15px;
}

.container h1 span {
    color: #24a0ed;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page p {
    font-size: 16px;
    margin-bottom: 15px;
}

.page-box {
    background: #24a0ed;
    padding: 12px 24px;
    border-radius: 6px;
}

.page-box span {
    font-size: 16px;
    font-weight: 500;
    color: white;
}
