@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(90deg,rgba(159, 208, 227, 1) 0%, rgba(247, 246, 228, 1) 100%);
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: right;
    padding: 22px 32px;
    align-items: center;
}

a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 16px;
    transition: 0.3s;
}

a:hover {
    color: #24a0ed;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #24a0ed;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.5s;
}

button:hover {
    background-color: #0096e2;
}

.container {
    display: flex;
    background: white;
    height: 100%;
    width: 100%;
    margin: 0 15px;
}

.container h1 {
    font-size: 10px;
}