@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(90deg,rgba(159, 208, 227, 1) 0%, rgba(247, 246, 228, 1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 15px;
}

.form-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    max-width: 450px;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    border: none;
    margin: none;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 20px;
    background: #D3D3D3;
}

button {
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 6px;
    background: #24a0ed;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #0096e2;
}

p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

p a {
    text-decoration: none;
    color: #24a0ed;
}

p a:hover {
    text-decoration: underline;
}